{% load static %}
<nav class="mob-menu right" id="menu-mob">
<div class="main rt-15">
<div class="logo-mob rt rt-align"><a href="{% url 'home:home' %}"><img style="border-radius:10%" src="{%  static 'home/assets/images/logo.jpg' %}" height="46"></a></div>
<ul class="rt" id="accordion">
<li class="rt"><a href="{% url 'home:home' %}" class="rt-14 rt-fff rt rt-medium">صفحه نخست</a></li>
<li class="rt"><a href="{% url 'home:home' %}" target="_blank" class="rt-14 rt-fff rt rt-medium">ورود به پنل همکاری</a></li>
<li class="rt"><a href="{% url 'account:signup' %}" target="_blank" class="rt-14 rt-fff rt rt-medium">ثبت نام</a></li>
<li class="rt"><a href="{% url 'home:contactus' %}" class="rt-14 rt-fff rt rt-medium">تماس با ما </a></li>

<li class="rt"><a href="{% url 'home:faq' %}" class="rt-14 rt-fff rt rt-medium">سوالات متداول</a></li>
<li class="rt"><a href="{% url 'home:aboutus' %}" class="rt-14 rt-fff rt rt-medium">درباره ما</a></li>
</ul>
<p class="copyright rt-fff rt-13 rt rt-align">
            توسعه داده شده توسط شرکت ثریا
    </p>
</div>
</nav>
<div class="rt" id="close-menu-bg"></div>